:root {
    --bg-color: #a6b1bc;         /* Background color */
    --header-bg: #37414A;       /* Header background */
    --sidebar-bg: #4A5864;      /* Sidebar background */
    --button-bg: #7cb9e8;       /* Button background */
    --button-hover-bg: #2570a6; /* Button hover background */
    --text-color: #F0F0F0;      /* Text color */
    --border-color: grey;       /* Border color */
    --border-light: white;      /* Light border color */
    
    /* Table variables */
    --table-bg: #F0F0F0;        /* Table background color */
    --table-text-color: #333;   /* Table text color */
    --table-border-color: #ccc; /* Table border color */
    --table-row-hover-bg: #C0C4CC; /* Table row hover background */
    --table-row-even-bg: #E5E7EB;  /* Even row background */
    --table-row-odd-bg: #fff;    /* Odd row background */
}

.invalid {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.valid {
    border: 2px solid green;
    background-color: #e6ffe6;
}

.readonly{
    background-color: black;
    border: none;
    color: white;
    pointer-events: none;
}

p{
    font-size: 18px;
    font-weight: bold;
}

.deldial, .buttondial{
    border-radius: 0px;
    background: white;
}

.deldial .yes{
    background: red;
}

.deldial .no{
    background: green;
}

dialog {
    width: 300px;
    padding: 20px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to bottom, #66c2ff, #e6f3ff);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.dialog-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
    background-color: var(--bg-color);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header {
    background-color: var(--header-bg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-btn, .add-btn, .logout-btn{
    display: none;
}
.btn-container{

    display: flex;
    justify-content: space-around;
    width: 50%;
}

.logo-container{
    margin-left: 24px;
}

.dark-container{
    margin-right: 24px;
}

.sidebar {
    color: var(--text-color);
    background-color: var(--sidebar-bg);
    position: fixed;
    top: 10vh;
    left: 0;
    width: 10vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.header button {
    padding: 10px;
    margin: 10px 0;
    background-color: var(--button-bg);
    text-align: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 35px;
}

.header button:hover {
    background-color: var(--button-hover-bg);
}

.sidebar button {
    background-color: var(--sidebar-bg);
    color: var(--text-color);
    text-align: center;
    cursor: pointer;
    width: 100%; 
    height: 50px;
    border-bottom: 0.1px solid var(--border-light);
    border-right: none;
    border-top: none;
}

.sidebar button:hover {
    background-color: var(--button-hover-bg);
}

.main {
    margin-left: 10vw;
    margin-top: 12vh;
    height: 82vh;
    overflow-y: scroll;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--table-bg); 
}

td, th {
    padding: 10px;
    text-align: center;
    border-right: 1px solid var(--table-border-color); 
    color: var(--table-text-color); 
}

td:last-child, th:last-child {
    border-right: none;
}

tr:hover {
    background-color: var(--table-row-hover-bg) !important; 
}

tr:nth-child(even) {
    background-color: var(--table-row-even-bg); 
}

tr:nth-child(odd) {
    background-color: var(--table-row-odd-bg);  
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 

}

.login, .add-student{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    gap: 10px; 
}

.close-container{

    width: 100%;
    height: 3%;
    display: flex;
    justify-content: flex-end;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}

.submit-container{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 24px;
    width: 100%;
    height: fit-content;
}

.submit-container button{
    background-color: var(--button-bg);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height: 35px;
}

.submit-container button:hover{
    background-color: var(--button-hover-bg);
}

.submit{
    background-color: var(--button-bg);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height: 35px;
}

.submit:hover {
    background-color: var(--button-hover-bg);
}

/* -------------- */


body {
    background-color: var(--bg-color);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
        --bg-color: #1a1a1a;         /* Dark background color */
        --header-bg: #222222;       /* Dark header background */
        --sidebar-bg: #333333;      /* Dark sidebar background */
        --button-bg: #555555;       /* Dark button background */
        --button-hover-bg: #666666; /* Dark button hover background */
        --text-color: #ffffff;      /* Light text color */
        --border-color: #444444;    /* Dark border color */
        --border-light: #555555;     /* Dark light border color */
    
        /* Dark theme table variables */
        --table-bg: #222222;
        --table-text-color: #ffffff;
        --table-border-color: #444444;
        --table-row-hover-bg: #4A5864; 
        --table-row-even-bg: #333333; 
        --table-row-odd-bg: #1a1a1a;
}

.header {
    background-color: var(--header-bg);
    transition: background-color 0.3s;
}

.sidebar {
    color: var(--text-color);
    background-color: var(--sidebar-bg);
    transition: background-color 0.3s;
}

.dialog-div {
    transition: background 0.3s;
}

.main {
    transition: background-color 0.3s;
}

input, select {
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

input.dark-theme, select.dark-theme {
    border: 1px solid #777;
}

label.dark-theme{
    color: white;
}

dialog.dark-theme{
    background: linear-gradient(to bottom, #333333, #1a1a1a);
}

body.dark-theme .header button,
body.dark-theme .sidebar button,
body.dark-theme .submit {
    color: #ffffff;
}


body.dark-theme table {
    background-color: var(--table-bg);  
}

body.dark-theme td, 
body.dark-theme th {
    color: var(--table-text-color);   
    border-color: var(--table-border-color);  
}

body.dark-theme tr:nth-child(even) {
    background-color: var(--table-row-even-bg);  
}

body.dark-theme tr:nth-child(odd) {
    background-color: var(--table-row-odd-bg);  
}


body.dark-theme ::-webkit-scrollbar {
    width: 12px;
}

body.dark-theme ::-webkit-scrollbar-track {
    background: #1a1a1a;
}

body.dark-theme ::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 10px;
}

body.dark-theme ::-webkit-scrollbar-thumb:hover {
    background-color: #666666;
}

body.dark-theme {
    scrollbar-color: #555555 #1a1a1a;
    scrollbar-width: thin;
}

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: #111;
    width: 50px;
    height: 18px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-moon {color: #f1c40f;}
  
  .fa-sun {color: #f39c12;}
  
  .checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(32px);
  }

  .deldial.dark-theme, .buttondial.dark-theme{
    background: linear-gradient(to bottom, #333333, #1a1a1a);
    color: white;
  }

  /*            */

  .add-dialog, .update-dialog{
    background: linear-gradient(to bottom, #AEDFF5, #ffffff);
    border-radius: 20px;
    height: 600px;
    width: fit-content;
  }

  .sec1{
    display: flex;
    justify-content: space-evenly;
  }

  .updatesec1{
    display: flex;
    justify-content: space-evenly;
  }




  .sec1-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 170px;
  }

  .updatesec1-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
  }



  .sec2{
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .updatesec2{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }



  .sec2-left,.sec2-right{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }


  .updatesec2 .update-student{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 200px;
    width: 400px;
 }

 .updatesec2 .update-student input{
    width: 175%;
 }

  .sec2 input{
    width: 150%;
  }

  .updatesec2 input{
    width: 100%;
  }

  .labelupdate{
    display: flex;
    flex-direction: column;
  }


  a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

  .sec1 input,.sec2 input{
    border-radius: 50px;
    background: #E5E7EB;
  }

  .updatesec1 input, .updatesec2 input{
    border-radius: 50px;
    background: #E5E7EB;
  }





  /*              */