:root {
    --bg-color: #D0DAEC;         /* Background color */
    --header-bg: #37414A;       /* Header background */
    --sidebar-bg: #4A5864;      /* Sidebar background */
    --button-bg: #50B8E7;       /* Button background */
    --button-hover-bg: #00b5ad; /* Button hover background */
    --text-color: #F0F0F0;      /* Text color */
    --border-color: grey;        /* Border color */
    --border-light: white;       /* Light border color */
}

#dialog {
    width: 300px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.close {
    margin-right: 10px;
}


body {
    background-color: var(--bg-color);
}

.header {
    background-color: var(--header-bg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sidebar {
    color: var(--text-color);
    background-color: var(--sidebar-bg);
    position: fixed;
    top: 10vh;
    left: 0;
    width: 10vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.header button {
    padding: 10px;
    margin: 10px 0;
    background-color: var(--button-bg);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height: 35px;
}

.header button:hover {
    background-color: var(--button-hover-bg);
}

.sidebar button {
    background-color: var(--sidebar-bg);
    color: var(--text-color);
    text-align: center;
    cursor: pointer;
    width: 100%; 
    height: 50px;
    border-bottom: 0.5px solid var(--border-light);
}

.sidebar button:hover {
    background-color: var(--button-hover-bg);
}

.main {
    margin-left: 10vw;
    margin-top: 12vh;
    height: 82vh;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #F0F0F0;
}

td {
    padding: 10px;
    text-align: center;
    border-right: 0.5px solid var(--border-color);
}

td:last-child {
    border-right: none;
}

tr:nth-child(even) {
    background-color: #E5E7EB;
}
